.title {
    font-family: "Nunito";
    font-weight: '700' !important;
    color: '#202a44'
}

.subtitle {
    font-family: "Nunito";
    font-weight: "200";
}

.Embed {
    display: none !important;
}

.Embed .Footer {
    display: none !important;
}

.Embed .HoverCard {
    display: none !important;
}

.Embed .SocialProof {
    display: none !important;
}